.Get .left{
    width: 45%;
}
.Get .right{
    width: 45%;
}
.Get .left .single_feature_description{
    max-width: 362px;
}
.Get .left .heading_title{
    max-width: 450px;
}
.reuse_border{
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
}

.reuse_border img{
    border-radius: 20px;
    transform: translate(-12px, 13px);
}

.down_col  img{
    transform: translate(-15px, -14px);
}

@media (max-width:768px){
    .Get .container{
        flex-direction: column;
    }
    .Get .left{
        width: 100%;
    }
    .Get .right{
        width: 100%;
    }
}