/* .header{
    position: sticky;
    top: 0;
    transition: var(--primary-transition);
    background-color: var(--white-color);
    z-index: 999;
} */
.logo{
    width: 118px;
    object-fit: cover;
}

.nav_links{
    font-size: 0.9em;
    color: var(--text-color);
    font-weight: 500;
    transition: var(--primary-transition);
}

.nav_links:hover{
    color: var(--primary-color);
}

.sign_btn{
    font-size: 1em;
    color: var(--text-color);
    font-weight: 600;
    transition: var(--primary-transition);
}

.sign_btn:hover{
    color: var(--primary-color);
}

.mobile_nav{
    display: none;
    cursor: pointer;
}

.mobile_nav i{
    font-size: 1.5em;
}


.mobile_navigation {
    position: absolute;
    top: 0px;
    right: -320px;
    background: var(--secondary-color);
    color: var(--white-color);
    width: 230px;
    transition: var(--primary-transition);
    padding: 1.5em;
    z-index: 100000000;
    visibility: hidden;
    display: none;
    height: 100%;

}

.mobile_navigation.active{
    right: 0px;
    visibility: visible;
    display: flex;
    transition: var(--primary-transition);

}

.overlay{
    background-color: var(--secondary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    display: none;
    z-index: 10000000;
}

.overlay.active{
    opacity: 0.2;
    display: block;
    visibility: visible;
}

.close{
    width: 30px;
    height: 30px;
    background-color: #1E3050;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    transition: var(--primary-transition);
    position: absolute;
    top: 1em;
    right: 1em;
}

.close:hover{
    background-color: orangered;
}

.close i{
    font-size: 1.2em;
}

.mobile_navigation .nav_links{
    color: var(--white-color);
}

@media (max-width:990px){
    .nav_items{
        display: none !important;
    }
    .right_button{
        display: none !important;
    }
    .hero_title{
        font-size: 40px;
        line-height: 50px;
    }
    .mobile_nav{
        display: block;
    }
}